.single {
  .range-slider__thumb[data-lower] {  
    display: none;  
  }

  .range-slider .range-slider__range {  
    background: transparent;  
  }
}

.range-slider__thumb::after {  
  content: attr(data-label);  
  position: absolute;  
  bottom: calc(50% - 7px);   
  transform: translateX(-50%);  
  font-size: 12px;  
  white-space: nowrap;  
}