body {
  background-color: black;
  color: white;
  padding-top: calc(var(--u) * 3);
}

button {
  border: calc(var(--u) * 0.025) solid black;
}

.section {
  margin: calc(var(--u) * 0.125)
}

:root {
  --u: 40px;

  /* --name-w: calc(var(--u) * 2); */
  --slider-w: calc(var(--u) * 3);
  --label-w: calc(var(--u) * 1.5);

  /* --notes-w: calc(var(--u) * 9); */
  /* --octaves-w: calc(var(--u) * 9); */

  /* --sounds-w: calc(var(--u) * 5); */
  /* --intervals-w: calc(var(--u) * 4); */

  /* --line: 1px; */
}

#voice {
  width: fit-content;
  height: fit-content;
  font-size: calc(var(--u) * 0.35);
  padding: calc(var(--u) * 0.125);
  border: calc(var(--u) * 0.125) groove rgb(68, 14, 14);
  text-align: center;
}

.row {
  display: flex;
  text-align: center;
}

.justified {
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}


/* row 1 */


.range-slider__thumb::after {  
  content: attr(data-label);  
  font-size: c;  
  white-space: nowrap;  
}

#sliders {
  padding-bottom: calc(var(--u) * 0.125);
}

.button-label {
  width: var(--label-w);
}


.slider {
  width: var(--slider-w);
  margin: calc(var(--u) * 0.25) calc(var(--u) * 0.125);
  text-align: center;
}

.slider-label {
  text-align: center;
}

.range-slider .range-slider__thumb {  
  display: flex;  
  align-items: center;  
  justify-content: center;  
}

button img {
  pointer-events: none;
}

.button-group {
  height: calc(var(--u) * 0.625);
}

.button-grid {
  display: grid;
  position: absolute;
  top: 0;
}

.left {
  right: 0px;
  top: calc(var(--u) * 0.625);
}

.center, .right {
  top: calc(var(--u) * 0.625);
  left: calc(var(--u) * (-1.25));
}

.parent {
  position: relative;
}

.group-button {
  width: calc(var(--u) * 1.25);
  height: calc(var(--u) * 1.25);
  padding: 0;
  margin: 0;  
  box-sizing: border-box;  
}

.group-button img {
  width: calc(var(--u) * 1.225);
  height: calc(var(--u) * 1.225);
}

#intervals, #octaves, #sounds {
  width: calc(var(--u) * 0.625);
  height: calc(var(--u) * 0.625);
}

#header {
  text-align: center;
  padding-top: calc(var(--u) * 0.25);
  z-index: 100;  
  background-color: black;
  position: fixed;  
  top: 0;  
  left: 0;  
  width: 100%;  
}

#title {
  margin: calc(var(--u) * 0.25);
}

.centred {
  display: flex;  
  align-items: center;  
  justify-content: center;  
}

.header-button {
  background-color: black;
  width: 100px;
  margin: calc(var(--u) * 0.25);
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.keyboard {
  display: flex;

  position: relative;

  height: 56px;
}

.key {
  cursor: pointer;

  border: 1px solid black;
}

.white {
  width: 28px;

  background: white;
}

.black {
  width: 18px;

  height: 60%;

  background: black;
  color: white;

  margin-left: -9px;
  margin-right: -9px;

  z-index: 1;
}

.active {
  background: green;
}

.black.active {
  background: darkgreen;
}